{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Потребителско име...'}}) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Парола....'}}) }}
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail....'}}) }}
        </div>
        <div class="input-group">
            <button class="btn btn-primary">Register!</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}