{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Начало{% endblock %}

{% block body %}

    <!-- Center Column -->

    <div class="col-sm-6">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="form-group">
                <a href="{{ path('create_post') }}" class="btn btn-primary">Нова тема</a>
            </div>
        {% endif %}
        <!-- Articles -->
        {% for post in posts %}
            <div class="row">
                <article class="col-xs-12">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.body|length > 350 ? post.body|slice(0,350) ~ '...': post.body}}</p>
                    <p>
                        <button class="btn btn-outline-success">Прочети още</button>
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i
                                    class="fa fa-clock-o"></i> {{ post.createdAt | date("Y-m-d H:i") }}</li>
                        <li class="list-inline-item"><i class="fa fa-user"></i> {{ post.author }}</li>
                        <li class="list-inline-item"><i class="fa fa-list"></i> <a href="#">{{ post.category }}</a></li>
                        <li class="list-inline-item"><i class="fa fa-comments"></i><a href="#"> </span> 0
                                коментар(и)</a></li>
                    </ul>
                </article>
            </div>
        {% endfor %}
    </div><!--/Center Column-->
{% endblock %}
